@charset "UTF-8";

.social .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #2a3137;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social .social-icon:last-child {
  margin-right: 0;
}

.social .social-icon:hover {
  background-color: #437199;
}

.contact {
  font-size: 2 rem;
}